.cabecalho {
    padding: 0 30px;
    background-color: #fff8f0;
    border-bottom: 2px solid #ffd6d6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    font-family: 'Gloria Hallelujah', cursive, "Poppins", sans-serif;
}

.logoSection {
    display: flex;
    align-items: center;
}

.logoIcon {
    font-size: 36px;
    color: #ff7434;
    margin-right: 12px;
}

.title {
    margin: 10;
    color: #ff854d !important;
    font-size: 28px;
    font-family: 'Gloria Hallelujah', cursive;
}

.desktopMenu {
    display: flex;
    gap: 40px;
    align-items: center;
}

.menuItem {
    cursor: pointer;
    color: #ff854d;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: color 0.2s, transform 0.2s;
}

.menuItem:hover {
    color: #ff854d;
    transform: scale(1.1);
}

.mobileMenu {
    display: none;
    font-size: 28px;
}

@media (max-width: 768px) {
    .desktopMenu {
        display: none;
    }

    .mobileMenu {
        display: inline-flex;
    }
}